gmail-to-spreadsheet/blueprint.json
{
    "name": "Integration My App",
    "flow": [
        {
            "id": 10,
            "module": "google-email:TriggerNewEmail",
            "version": 2,
            "parameters": {
                "account": 233504,
                "searchType": "simple",
                "maxResults": 1,
                "folder": "INBOX",
                "criteria": "UNSEEN",
                "from": "SOURCE_EMAIL@gmail.com",
                "subject": "",
                "text": ""
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -480,
                    "y": -182
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection",
                            "data": {
                                "scoped": "undefined",
                                "connection": "undefined"
                            }
                        },
                        "searchType": {
                            "label": "Simple filter"
                        },
                        "folder": {
                            "path": [
                                "INBOX"
                            ]
                        },
                        "criteria": {
                            "label": "Only Unread emails"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "gmail"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of results"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Search phrase"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "\\[(\\w+)\\] order no. (\\w+): (\\w+)",
                "multiline": false,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{10.subject}}"
            },
            "metadata": {
                "designer": {
                    "x": -200,
                    "y": -492
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "$2",
                        "type": "text",
                        "label": "$2"
                    },
                    {
                        "name": "$3",
                        "type": "text",
                        "label": "$3"
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "^(.*order.*)$",
                "multiline": true,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{10.text}}"
            },
            "metadata": {
                "designer": {
                    "x": -200,
                    "y": -155
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 229727
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "0": "{{10.from.address}}",
                    "1": "{{17.`$1`}}",
                    "2": "{{17.`$2`}}",
                    "3": "{{17.`$3`}}",
                    "4": "{{23.`$1`}}",
                    "5": "{{10.messageId}}"
                },
                "sheetId": "Invoices",
                "spreadsheetId": "1kI7_Q308yDyP7X08udyhRCzhlwAGrtDhzyQ1WdCpA9s",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 58,
                    "y": -493
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select spreadsheet and sheet"
                        },
                        "sheetId": {
                            "label": "Invoices"
                        },
                        "spreadsheetId": {
                            "label": "Invoices and Payments"
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "From (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Company (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Order Number (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Status (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Message (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Attachment (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "undefined",
                                "connection": "undefined"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "From (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Company (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Order Number (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Status (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Message (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Attachment (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 31,
            "module": "google-email:FeedAttachments",
            "version": 2,
            "parameters": {},
            "mapper": {
                "array": "{{10.attachments}}"
            },
            "metadata": {
                "designer": {
                    "x": 75,
                    "y": -152
                },
                "expect": [
                    {
                        "name": "array",
                        "spec": [],
                        "type": "array"
                    }
                ],
                "relative": 10
            }
        },
        {
            "id": 47,
            "module": "archive:PackAggregator",
            "version": 1,
            "parameters": {
                "type": "zip",
                "comment": "",
                "feeder": 31
            },
            "mapper": {
                "archiveName": "{{17.`$2`}}-attachments",
                "fileName": "{{31.fileName}}",
                "data": "{{31.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 312,
                    "y": -478
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "ZIP"
                        }
                    },
                    "extra": {
                        "feeder": {
                            "label": "Gmail - Iterate attachments [31]"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "zip",
                                "tar"
                            ]
                        }
                    },
                    {
                        "name": "comment",
                        "type": "text",
                        "label": "Comment"
                    }
                ],
                "expect": [
                    {
                        "name": "archiveName",
                        "type": "text",
                        "label": "Archive name"
                    },
                    {
                        "name": "fileName",
                        "type": "text",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 32,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 229196
            },
            "mapper": {
                "select": "value",
                "filename": "{{47.fileName}}",
                "data": "{{47.data}}",
                "convert": false,
                "destination": "drive",
                "folderId": "/1ciGpFqDeXl2NsKszpN8-w1WXp3MAV0-b"
            },
            "metadata": {
                "designer": {
                    "x": 329,
                    "y": -152
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Restricted connection (TARGET_EMAIL@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Invoices and Payments"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "google-sheets:updateCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 229727
            },
            "mapper": {
                "spreadsheetId": "1kI7_Q308yDyP7X08udyhRCzhlwAGrtDhzyQ1WdCpA9s",
                "cell": "F{{22.rowNumber}}",
                "value": "=HYPERLINK(\"{{32.webContentLink}}\",\"{{32.name}}\")",
                "valueInputOption": "USER_ENTERED",
                "sheetId": "Invoices"
            },
            "metadata": {
                "designer": {
                    "x": 569,
                    "y": -466
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (TARGET_EMAIL@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Invoices and Payments"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Invoices"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 10,
                    "text": "Watch for invoices.",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}
